version: 2.1
orbs:
  continuation: circleci/continuation@0.1.2
  slack: circleci/slack@3.4.2
  jq: circleci/jq@2.2.0
jobs:
  test-dev-tag-as-not-passed:
    docker:
      - image: rishabhpoddar/supertokens_website_sdk_testing
    steps:
      - checkout
      - run: (cd .circleci/ && ./markDevTagAsTestNotPassed.sh)
  test-unit:
    docker:
      - image: rishabhpoddar/supertokens_website_sdk_testing
    parameters:
      fdi-version:
        type: string
    parallelism: 4
    steps:
      - checkout
      - run: echo "127.0.0.1 localhost.org" >> /etc/hosts
      - run: npm i -d
      - run: (cd .circleci/ && ./doTests.sh  << parameters.fdi-version >>)
      - run: npm run size
      - run: npm run check-circular-dependencies
  test-success:
    docker:
      - image: rishabhpoddar/supertokens_website_sdk_testing
    steps:
      - checkout
      - run: (cd .circleci/ && ./markAsSuccess.sh)
      - slack/status

workflows:
  version: 2
  tagged-build:
    jobs:
      - test-dev-tag-as-not-passed:
          filters:
            branches:
              only: cicd-optimising
      - test-unit:
          requires:
            - test-dev-tag-as-not-passed
          context:
            - slack-notification
          filters:
            branches:
              only: cicd-optimising
          matrix:
            parameters:
              fdi-version: placeholder
      - test-success:
          requires:
            - test-unit
          context:
            - slack-notification
          filters:
            branches:
              only: cicd-optimising